doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
  body
  nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
    .container
      ul.nav.nav-pills
        li: a(href='/') login
        li: a(href='/login') login
        li: a(href='/signup') signup
        li: a(href='/home') home
  .container
    block content