doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content="")
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel="stylesheet", href="/libs/bootstrap/dist/css/bootstrap.css") 
    link(href="https://fonts.googleapis.com/css?family=Baloo+Bhaina" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Tinos" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Comfortaa:700&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400&amp;subset=cyrillic" rel="stylesheet")

    //- link(rel='stylesheet', href='/css/fontawesome-stars-o.css')
    //- stars    
    link(href='/libs/bootstrap-star-rating/css/star-rating.css', media='all', rel='stylesheet', type='text/css')

    //- script(src='/testJQ.js') 
    //HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    | <!--[if lt IE 9]>
    | <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    | <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    | <![endif]-->
  body
  nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
    .container
      ul.nav.nav-pills
        li: a#NoPaddandMarg(href='/')
              img.logo(src="/img/logo_ico.png", alt="Logo")
        li: a#NameLogo(href='/') ALOXA         
        //- li: a(href='/login') login
        //- li: a(href='/signup') signup
        //- li: a(href='/home') home
        //- li: a(href='/video') video
        //- li: a(href='/') index
        if userIn == true
          li.dropdown.pull-right
              a#NameUser.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')                
                span #{userName.full_name}
                //- span.caret                       
              ul.dropdown-menu
                li
                  a(href='/home') Home           
                li
                  a(href='#') Something else here            
                li.divider(role='separator')             
                li
                  a(href='/signout') Sign out                  
        if userIn == false
          li.pull-right: a#RegSign(href='/login') Register / Sign In
        

  .container
    block content
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.js')
    script(src='/libs/bootstrap-star-rating/js/star-rating.js', type='text/javascript')
    script(src='/libs/jquery/dist/jquery.min.js', type='text/javascript')
    script(src='/js/bootstrap.js')
    script(src='/js/main.js')
    block otherScripts
