extends layout

block content
    .col-md-12

            
        input(id="input-id",  class="rating")


        input#input-2.rating.rating-loading(name='input-2', data-min='0', data-max='5', data-step='0.01')

        input(id="input1", class="rating rating-loading", value="1.6", data-min="0", data-max="5", data-step="0.1", data-size="xs", readonly = true, showClear = false, hoverChangeCaption = false, hoverEnabled = false )
        input(id="input1", class="rating rating-loading", value="3", data-min="0", data-max="5", data-step="0.1", data-size="xs",  showClear = false, hoverChangeCaption = false, hoverEnabled = false )
        input(id="input" class="rating rating-loading" data-min="0" data-max="5" data-step="0.01")
        


block otherScripts
        script(type='text/javascript').
            $('#input1').on('rating.change', function(event, 5, caption) {
                console.log(value);
                console.log(caption);
            });
